// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar-default {
background-color: #000000 !important;
border-color: #e7e7e7;
}
.navbar-default .navbar-nav > li > a {
color: #EFF7F8 !important;
}


.navbar-default .navbar-brand {
color: #FAFAFA !important;
}


.panel-primary > .panel-heading {
color: #ffffff;
background-color: #0E1113;
border-color: #171819;
}
.panel-primary {
border-color: #1B1D1F;
}